@import url('http://fonts.googleapis.com/css?family=Dosis');

body {
  background-color: rgb(242, 242, 242);
  font: normal 1.25em/1.38 Dosis-Light;
  color: #202032;
}

.foot {
  width: 80%;
  min-height: 40px;
  margin: 685px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #202032;
}

.sub {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 80%;
  min-height: 40px;
  margin: -4px 0 0 10%;
  font-size: 1.45em;
  line-height: 1.38;
  text-align: center;
  color: #202032;
}

.wt {
  position: relative;
  float: left;
  z-index: 0;
  width: 80%;
  min-height: 40px;
  margin: 225px 0 0 10%;
  font-size: 3.1em;
  line-height: 1.38;
  text-align: center;
  color: #202032;
}

.foot a {
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}
